p{
    color:#a10404;
    font-size:large;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
body
{
  background-color:black;
  }

#head 
{
  font-size:70px;
  text-align: center;
}

div
{
  max-width: 700px;
  margin: auto;

}



